<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <br>
      <br>
      <%= image_tag 'password_reset.png', size: '589x50' %>
      <br>
      <br>
      <%= form_with url: password_resets_path, local: true do |f| %>
        <div class="form-group">
          <%= f.label :email, t(User.human_attribute_name(:email)) %><br />
          <%= f.email_field :email, class: 'form-control', placeholder: "例) abc@example.com" %>
        </div>
        <%= f.submit t('password_resets.new.submit'), class: 'btn btn-dark' %>
    <% end %>
    </div>
  </div>
</div>