<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <br>
      <%= image_tag 'sign_up.png', size: '214x60' %>
      <br>
      <br>
      <%= form_with model: @user, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control', placeholder: "例) nickname" %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control', placeholder: "例) abc@example.com" %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control', placeholder: "パスワードを入力してください" %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "確認のためもう一度入力してください" %>
        </div>
        <div class="actions">
          <%= f.submit 'サインアップ', class: 'btn btn-dark' %>
        </div>
      <% end %>
      <br>
      <br>
    </div>
  </div>
</div>