<div class="col-sm-12 col-lg-4 mb-3">
  <div id="human_name_synesthesia-id-<%= human_name_synesthesia.id %>">
    <div class="card">
      <div class="card-header">
        <div class='mr10 float-left'>
          <li class="list-inline-item">
          <h4>
            <%= link_to human_name_synesthesia.name, human_name_synesthesium_path(human_name_synesthesia), class: 'link' %>
          </h4>
          </li>
        </div>
        <% if current_user.own?(human_name_synesthesia) %>
        <div class='mr10 float-right'>
          <li class="list-inline-item">
          <%= link_to human_name_synesthesium_path(human_name_synesthesia), class: 'link', id: "button-delete-#{human_name_synesthesia.id}", method: :delete, data: { confirm: t('defaults.message.delete_confirm') } do %>
            <%= icon 'fas', 'trash' %>
          <% end %>
          </li>
          <li class="list-inline-item">
          <%= link_to edit_human_name_synesthesium_path(human_name_synesthesia), class: 'link', id: "button-edit-#{human_name_synesthesia.id}" do %>
            <%= icon 'fa', 'pen' %>
          <% end %>
          </li>
        </div>
        <% end %>
      </div>
      <div class="card-body">
        <%= image_tag human_name_synesthesia.color_url, class: 'card-img-top', size: '300x200' %>
      </div>
    </div>
  </div>
</div>