<div class="col-sm-12 col-lg-4 mb-3">
  <div id="human_name_synesthesia-id-<%= human_name_synesthesia.id %>">
    <div class="card">
      <div class="card-body">
        <div class='mr10 float-right'>
          <li class="list-inline-item">
          <%= link_to human_name_synesthesium_path(human_name_synesthesia), class: 'link', id: "button-delete-#{human_name_synesthesia.id}", method: :delete, data: { confirm: t('defaults.message.delete_confirm') } do %>
            <%= icon 'fas', 'trash' %>
          <% end %>
          </li>
          <li class="list-inline-item">
          <%= link_to edit_human_name_synesthesium_path(human_name_synesthesia), class: 'link', id: "button-edit-#{human_name_synesthesia.id}" do %>
            <%= icon 'fa', 'pen' %>
          <% end %>
          </li>
        </div>
        <h4 class="card-title">
          <%= link_to human_name_synesthesia.name, human_name_synesthesium_path(human_name_synesthesia), class: 'link' %>
        </h4>
        <div class="bg_test2", style="background-color: <%= human_name_synesthesia.color %>" ><%= human_name_synesthesia.color %></div>
      </div>
    </div>
  </div>
</div>